**Exercise 2: Create markdown cell with title of the notebook**

# Data Science Tools

**Exercise 3 - Create a markdown cell for an introduction**

## Introduction  
This is an introduction to data science tools.

**Exercise 4 - Create a markdown cell to list data science languages.**

## List of Data Science Languages  
Here are some popular programming languages used in Data Science:  
1. Python  
2. R  
3. SQL  
4. Julia  
5. Scala

**Exercise 5 - Create a markdown cell to list data science libraries.**

## Data Science Libraries  
Popular libraries used in Data Science are:  
- Pandas  
- NumPy  
- Matplotlib  
- Scikit-learn  
- TensorFlow

**Exercise 6 - Create a markdown cell with a table of Data Science tools**

## The table of Data Science Tools  

| Tool Name          | Category              | Description                               |
|--------------------|-----------------------|-------------------------------------------|
| Jupyter Notebook   | Interactive Environment | Run and share live code and markdown     |
| RStudio            | IDE                   | Development environment for R             |
| Apache Spark       | Big Data Processing   | Distributed data processing engine        |
| IBM Watson Studio  | Cloud Platform        | Integrated tools for data scientists      |
| TensorFlow         | Machine Learning      | End-to-end open-source ML platform        |

**Exercise 7 - Create a markdown cell introducing arithmetic expression examples.**

## Arithmetic Expression Examples  
Below are Python code examples performing basic arithmetic operations.

**Exercise 8 - Create a code cell to multiply and add numbers.**

In [3]:
# This expression multiplies 4 by 4 and then adds 5
x = (4*4)+5
print(x)
# the expected output : 21

21

**Exercise 9 - Create a code cell to convert minutes to hours.**

In [4]:
# Converting 200 minutes to hours
minutes = 200
hours = minutes / 60
hours

3.3333333333333335

**Exercise 10 -Insert a markdown cell to list Objectives.**

## Objectives  
- Identify key programming languages used in Data Science  
- Understand common libraries used by data scientists  
- Learn about popular Data Science tools  
- Practice arithmetic operations in Python  
- Learn to use and share notebooks with GitHub

**Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.**

## Author  
Sathvik Reddy